* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  font-style: italic;
}

body {
  overflow-x: hidden;
  margin-top: 5vh;

  &::after {
    animation: grain 8s steps(10) infinite;
    background-image: url(https://www.transparenttextures.com/patterns/black-felt.png);
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.2;
    position: fixed;
    top: -110%;
    width: 300%;
  }

  @keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
  }
}

section {
  position: relative;
  z-index: 99;
}
p {
  font-size: 2em;
}

label {
  background: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  font-family: 'lora', arial;
  cursor: pointer;
}

body > label {
  position: relative;
  z-index: 999;
}

input[type="radio"] {
  opacity: 0;
}

input#dark[type="radio"]:checked {
  & ~ main {
    background-color: #fefefe;
    filter: invert(100%);
    position: relative;
    z-index: 999;

    section:first-of-type {
      img {
        filter: invert(100%);
      }
    }
  }

  * {
    background-color: inherit;
  }
}






